@font-face {
    font-family: "MontserratBlack";
    src: url("../fonts/Montserrat-Black.eot"); /* IE9 Compat Modes */
    src: url("../fonts/Montserrat-Black.eot?#iefix") format("embedded-opentype"),
        /* IE6-IE8 */ url("../fonts//Montserrat-Black.woff2") format("woff2"),
        /* Super Modern Browsers */ url("../fonts//Montserrat-Black.woff")
            format("woff"),
        /* Pretty Modern Browsers */ url("../fonts/Montserrat-Black.ttf")
            format("truetype"),
        /* Safari, Android, iOS */
            url("../fonts/Montserrat-Black.svg#svgFontName") format("svg"); /* Legacy iOS */
}
@font-face {
    font-family: "MontserratBold";
    src: url("../fonts/Montserrat-Bold.eot"); /* IE9 Compat Modes */
    src: url("../fonts/Montserrat-Bold.eot?#iefix") format("embedded-opentype"),
        /* IE6-IE8 */ url("../fonts//Montserrat-Bold.woff2") format("woff2"),
        /* Super Modern Browsers */ url("../fonts//Montserrat-Bold.woff")
            format("woff"),
        /* Pretty Modern Browsers */ url("../fonts/Montserrat-Bold.ttf")
            format("truetype"),
        /* Safari, Android, iOS */
            url("../fonts/Montserrat-Bold.svg#svgFontName") format("svg"); /* Legacy iOS */
}
@font-face {
    font-family: "MontserratItalic";
    src: url("../fonts/Montserrat-Italic.eot"); /* IE9 Compat Modes */
    src: url("../fonts/Montserrat-Italic.eot?#iefix") format("embedded-opentype"),
        /* IE6-IE8 */ url("../fonts//Montserrat-Italic.woff2") format("woff2"),
        /* Super Modern Browsers */ url("../fonts//Montserrat-Italic.woff")
            format("woff"),
        /* Pretty Modern Browsers */ url("../fonts/Montserrat-Italic.ttf")
            format("truetype"),
        /* Safari, Android, iOS */
            url("../fonts/Montserrat-Italic.svg#svgFontName") format("svg"); /* Legacy iOS */
}
@font-face {
    font-family: "MontserratRegular";
    src: url("../fonts/Montserrat-Regular.eot"); /* IE9 Compat Modes */
    src: url("../fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"),
        /* IE6-IE8 */ url("../fonts//Montserrat-Regular.woff2") format("woff2"),
        /* Super Modern Browsers */ url("../fonts//Montserrat-Regular.woff")
            format("woff"),
        /* Pretty Modern Browsers */ url("../fonts/Montserrat-Regular.ttf")
            format("truetype"),
        /* Safari, Android, iOS */
            url("../fonts/Montserrat-Regular.svg#svgFontName") format("svg"); /* Legacy iOS */
}
@font-face {
    font-family: "MontserratSemiBold";
    src: url("../fonts/Montserrat-SemiBold.eot"); /* IE9 Compat Modes */
    src: url("../fonts/Montserrat-SemiBold.eot?#iefix") format("embedded-opentype"),
        /* IE6-IE8 */ url("../fonts//Montserrat-SemiBold.woff2") format("woff2"),
        /* Super Modern Browsers */ url("../fonts//Montserrat-SemiBold.woff")
            format("woff"),
        /* Pretty Modern Browsers */ url("../fonts/Montserrat-SemiBold.ttf")
            format("truetype"),
        /* Safari, Android, iOS */
            url("../fonts/Montserrat-SemiBold.svg#svgFontName") format("svg"); /* Legacy iOS */
}
@font-face {
    font-family: "HelveticaNeueRegular";
    src: url("../fonts/HelveticaNeueRegular.eot"); /* IE9 Compat Modes */
    src: url("../fonts/HelveticaNeueRegular.eot?#iefix")
            format("embedded-opentype"),
        /* IE6-IE8 */ url("../fonts/HelveticaNeueRegular.woff2") format("woff2"),
        /* Super Modern Browsers */ url("../fonts//HelveticaNeueRegular.woff")
            format("woff"),
        /* Pretty Modern Browsers */ url("../fonts/HelveticaNeueRegular.ttf")
            format("truetype"),
        /* Safari, Android, iOS */
            url("../fonts/HelveticaNeueRegular.svg#svgFontName") format("svg"); /* Legacy iOS */
}
@font-face {
    font-family: "HelveticaNeueLight";
    src: url("../fonts/HelveticaNeueLight.eot"); /* IE9 Compat Modes */
    src: url("../fonts/HelveticaNeueLight.eot?#iefix")
            format("embedded-opentype"),
        /* IE6-IE8 */ url("../fonts/HelveticaNeueLight.woff2") format("woff2"),
        /* Super Modern Browsers */ url("../fonts//HelveticaNeueLight.woff")
            format("woff"),
        /* Pretty Modern Browsers */ url("../fonts/HelveticaNeueLight.ttf")
            format("truetype"),
        /* Safari, Android, iOS */
            url("../fonts/HelveticaNeueLight.svg#svgFontName") format("svg"); /* Legacy iOS */
}

@font-face {
    font-family: "MyriadProRegular";
    src: url("../fonts/MyriadPro-Regular.eot"); /* IE9 Compat Modes */
    src: url("../fonts/MyriadPro-Regular.eot?#iefix")
            format("embedded-opentype"),
        /* IE6-IE8 */ url("../fonts/MyriadPro-Regular.woff2") format("woff2"),
        /* Super Modern Browsers */ url("../fonts//MyriadPro-Regular.woff")
            format("woff"),
        /* Pretty Modern Browsers */ url("../fonts/MyriadPro-Regular.ttf")
            format("truetype"),
        /* Safari, Android, iOS */
            url("../fonts/MyriadPro-Regular.svg#svgFontName") format("svg"); /* Legacy iOS */
}
